<header id="acasa">
    <button class="nav-toggle" aria-label="Meniu">
        <span class="hamburger-bar hamburger-bar-1"></span>
        <span class="hamburger-bar hamburger-bar-2"></span>
        <span class="hamburger-bar hamburger-bar-3"></span>
    </button>
    <div class="header-top">
        <h1>RiffRoom</h1>
        <div class="header-icons">
            <!-- Icon static pentru search -->
            <a href="#search" class="icon"><i class="fas fa-search"></i></a>
            <!-- Icon animat pentru shopping cart -->
            <a href="#cos_cumparaturi" class="icon"><i class="fas fa-shopping-cart fa-bounce"></i></a>
        </div>
    </div>

    <p>RiffRoom este <b>magazinul online de chitare</b> dedicat pasionaților de muzică, oferind o gamă variată de
        chitare și accesorii pentru toate nivelurile de experiență. Indiferent dacă ești începător sau profesionist,
        aici găsești <b>oferte de chitare</b> la prețuri avantajoase și cele mai noi modele de la branduri renumite.
    </p>

    <nav>
        <ul class="menu-container">
            <li><a href="/#acasa" id="acasa-link" class="active"><i class="fas fa-home"></i><span
                        class="text-label">Acasă</span></a>
                <ul>
                    <li><a href="#chitare"><span class="arrow">→</span> Chitare</a></li>
                    <li><a href="#accesorii"><span class="arrow">→</span> Accesorii</a></li>
                    <li><a href="#echipamente"><span class="arrow">→</span> Echipamente</a></li>
                    <li><a href="#oferte"><span class="arrow">→</span> Oferte</a></li>
                    <li><a href="/despre"><span class="arrow">→</span> Resurse</a></li>
                    <li><a href="#contul_meu"><span class="arrow">→</span> Contul meu</a>
                        <ul>
                            <li><a href="#contul_meu"><span class="arrow">→</span> Log in</a></li>
                            <li><a href="#cos_cumparaturi"><span class="arrow">→</span> Coș de cumpărături</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#produse" id="produse-link">Produse</a>
                <ul>
                    <li><a href="#chitare-electrice"><span class="arrow">→</span> Chitare Electrice</a></li>
                    <li><a href="#chitare-acustice"><span class="arrow">→</span> Chitare Acustice</a></li>
                    <li><a href="#amplificatoare"><span class="arrow">→</span> Amplificatoare</a></li>
                    <li><a href="#accesorii-chitara"><span class="arrow">→</span> Accesorii Chitară</a></li>
                </ul>
            </li>
            <li><a href="#contact" id="contact-link">Contact</a>
                <ul>
                    <li><a href="#istoric"><span class="arrow">→</span> Istoric</a></li>
                    <li><a href="#echipa"><span class="arrow">→</span> Echipa</a></li>
                    <li><a href="#parteneri"><span class="arrow">→</span> Parteneri</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>