<div id="container-orar-fundal" class="container-orar-fundal"></div>
<div id="container-orar" class="container-orar">
    <h2>Program de functionare</h2>
    <table id="tabel-orar">
        <thead>
            <tr>
                <th>Ziua</th>
                <th>Interval orar</th>
            </tr>
        </thead>
        <tbody>
            <tr data-zi="1">
                <td>Luni</td>
                <td>09:00 - 18:00</td>
            </tr>
            <tr data-zi="2">
                <td>Marti</td>
                <td>09:00 - 18:00</td>
            </tr>
            <tr data-zi="3">
                <td>Miercuri</td>
                <td>09:00 - 18:00</td>
            </tr>
            <tr data-zi="4">
                <td>Joi</td>
                <td>09:00 - 20:00</td>
            </tr>
            <tr data-zi="5">
                <td>Vineri</td>
                <td>09:00 - 20:00</td>
            </tr>
            <tr data-zi="6">
                <td>Sambata</td>
                <td>10:00 - 16:00</td>
            </tr>
            <tr data-zi="0">
                <td>Duminica</td>
                <td>Inchis</td>
            </tr>
        </tbody>
    </table>
    <div id="status-orar" class="status"></div>
    <button id="btn-inchide-orar" class="btn-inchide">Inchide</button>
</div>